<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test" verbose="1" preserve-order="true" parallel="false">
    <test name="testCase1">
        <classes>
            <class name="com.qa.tests.testCase2">
                <methods>
                    <include name="postApi2"></include>
<!--                    <include name="getApi"></include>-->
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.qa.report.ExtentTestNGReporterListener"></listener>
    </listeners>
</suite>
